* {
  box-sizing: border-box;
}

img{
  display: block;
  width:100%;
}

.timer{
  display: flex;
  gap:10px;
  margin: 20px 0;
}

.field{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value{
  font-size: 30px;
  height: 30px;
}

#datetime-picker{
  margin-top: 20px;
}

#datetime-picker,
.timer{
  margin-left:40px;
}

.form{
  display: flex;
  flex-direction: column;
  width:300px;
  gap: 10px;
  margin: 50px 300px;
}